* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilroy-Bold;
    src:url(fonts/gilroy/Gilroy-Black.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Medium;
    src:url(fonts/gilroy/Gilroy-Medium.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: Gilroy-SemiBold;
    src:url(fonts/gilroy/Gilroy-SemiBold.ttf) format('truetype');
    font-weight: semibold;
    font-style: normal;
}


a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header {
    display: flex;
    padding-top: 31px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 89px;
    align-items: center;
}


.link__home {
    display: flex;
    align-items: center;
    margin-left: 375px;
    margin-right: 500px;

}

.header__logo {
    width: 35px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 14px;
}



.tagline {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.tagline__be {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 533px;
    height: 17px;
    margin-right: 375px;
}

.menu__link__home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid transparent;
}

.menu__link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid transparent;
}

.menu__link:hover {
    color: #F25822;
    border: 1px solid #000;
    border-radius: 5px;
}

.menu__link__home:hover {
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}


.main__content {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 89px;
    margin-bottom: 162px;
    margin-left: 373px;
    margin-right: 440px;
}

.main__image {
    
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
}

.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.main__buttons {
    display: flex;
    justify-content: flex-start;
}


.button {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem 2rem;
    margin-right: 72px;
    border: 1px solid transparent;
}

.button:hover {
    border: 1px solid #000;
    color: #F25822;
    background-color: #fff;
}



.link__video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid transparent;
}

.link__video:hover {
    border: 1px solid #000;
    color: #F25822;
    background-color: #fff;
    border-radius: 10px;
}


.logos {

    display: flex;
    align-items: center;
    margin-left: 345px;
    margin-right: 375px;
    gap: 48px;
}


